/* Give a certain amount of margin to the top due to fixed top bar */
.MainFeedPage {
    margin-top: 10%;
}

.LoginText {
    margin-top: 10%;
    color: #F2B705;
}

.LoginLogo {
    
    max-width: 20%;
    height: auto;

}

.Form {
    margin-left: 45%;
    
    margin-top: 10%;
}

.SIGNUPButton {
    background-color: #F2B705;
    width: 110px;
}


