/* use top:0 and position:fixed to fix at top */
.Footer {
    left: 0;
    bottom: 0;
    position: fixed;
    height: 200px;
    width: 100%;
    overflow: auto;
    background-color: #023373;
}

.Logo {
    max-width: 3%;
    height: auto;
}