/* Give a certain amount of margin to the top due to fixed top bar */
.MainFeedPage {
    margin-top: 10%;
}

.ActionBarButtonOdd {
    background-color: #F2B705;
    border-color: transparent;
}

.ActionBarButtonEven {
    background-color: #F2C94C;
    border-color: transparent;
}

.ActionBarButtonsContainer {
    padding: 15px;
    width: fit-content;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ActionBarContainer {
    width: auto;
}